@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #333;
    color: #fff;
    overflow: hidden;
    height: 100vh;
}

.btn {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    padding: 1.5rem 3rem;
    background-color: #fff;
    cursor: pointer;
    border: none;
}

body header div {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    margin-bottom: 4rem;
}

body header h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 5rem;
}

body header .number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20px;
    width: 50px;
    font-size: 50px;
    margin: auto;
    margin-bottom: 75px;
    padding: 5rem;
    background-color: #fff;
    color: #333;
}

body header .number span {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8px;
    width: 100vw;
    background-color: #fff;
    z-index: -1;
}

#left-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.input-number {
    font-size: 35px;
    font-family: 'Press Start 2P', cursive;
    height: 1rem;
    width: 50%;
    text-align: center;
    margin-bottom: 3rem;
    padding: 2rem 1.5rem;
    outline: none;
    border: none;
}


/* For removing Arrows in number input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    margin-left: 15%;
}

.right p {
    font-size: 17px;
}